[submodule "themes/hugo-serif-theme"]
	path = themes/hugo-serif-theme
	url = https://github.com/Roghosh-droid/quickstart/tree/82bfcc9d2030513b209fa753742d681e02f06484/themes/hugo-serif-theme

[submodule "quickstart"]
	path = quickstart
	url = https://github.com/Roghosh-droid/quickstart.git
